# Python
__pycache__
.pytest_cache

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compressed files
*.tar

# Executables
*.exe
*.out
*.app
/bin

# Libraries
/cget

# Buf
/gen